.profile__edit-btn {

  min-width: 24px;
  height: 24px;
  background-image: url("../../../images/edit_button.svg");


  border: 1px solid #fff;
  border-radius: 1px;
  padding: 0;
  display: block;

  position: absolute;
  bottom: 9px;
  right: -42px;
}



@media screen and (max-width: 719px) {
  .profile__edit-btn {
    min-width: 18px;
    height: 18px;
    bottom: 5px;
    right: -28px;
  }
}
