.credentials__error {
  display: block;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-height: 30px;

  color: #FF0000;
}
