.popup__close-btn {
  width: 32px;
  height: 32px;

  position: absolute;
  top: -40px;
  right: -40px;
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
  background-image: url("../../../images/сlose.svg");

}


@media screen and (max-width: 719px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
