.credentials__footer-link {
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity 0.3s ease;

  margin: 0;
  padding: 0;

  border: 0;
  background: transparent;
  cursor: pointer;

  height: 17px;
}

.credentials__footer-link:hover {
  opacity: 0.6;

}
